<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>A propos</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
			<div class="col-md-4">
                <h4>Réseaux sociaux</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-4">
                <h4>Notre adresse</h4>
                <div class="hline-w"></div>
                <p>
                    {% for line in site.address.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                </p>
            </div>
        </div><! --/row -->
		<div class="row">
			<div class="col-md-4 col-md-offset-8 copyright">
				<span>{{ site.title }} &copy; 2015 - Réalisation <a href="http://www.efficiencesoftware.fr">Efficience Software</a></span>
			</div>
		</div>
    </div><! --/container -->
</div><! --/footerwrap -->