<div class="container-fluid bggrey">
	<div class="row">
		<div class="col-xs-3 paddingtop">
			<img class="img-responsive" src="/assets/img/front-new.jpg" alt="Elite Production"> 
		</div>
		<div class="col-xs-9">
			<blockquote>
				  <h1>&ldquo; Une image vaut mille mots. &rdquo;</h1>
				  <footer>Confucius</footer>
			</blockquote>
		</div>
	</div>
</div>

<!--div id="headerwrap2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-offset-6">
				<blockquote>
				  <h1>&ldquo; Une image vaut mille mots. &rdquo;</h1>
				  <footer>Confucius</footer>
				</blockquote>
            </div>
        </div><!-- /row -->
    <!--/div--> <!-- /container -->
<!--/div--><!-- /headerwrap -->