<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
				<blockquote>
				  <h1>&ldquo; Une image vaut mille mots. &rdquo;</h1>
				  <footer>Confucius</footer>
				</blockquote>
            </div>
			<div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/front.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="Une image vaut mille mots">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->